.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #ffffff;
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .social-icons a {
    font-size: 24px;
    margin: 0 20px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: blueviolet;
  }
  
  .form-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: blueviolet;
  }
  
  .error-message {
    color: #ff4444;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: blueviolet;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: darkviolet;
  }
  
  .forgot-password-link,
  .back-to-login-link,
  .signup-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: blueviolet;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .forgot-password-link:hover,
  .back-to-login-link:hover,
  .signup-link:hover {
    color: darkviolet;
  }
  